{% extends 'base.html' %}
{%block body %}
			<form method="POST">
                {% csrf_token %}
				<div class="modal-header">						
					<h4 class="modal-title">Delete {{employess.name}} ?</h4>
					
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete {{employess.name}} ?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<a href="{% url 'crud:index' %}" class="btn btn-default" data-dismiss="modal" value="Cancel">Cancle </a>  
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>

{% endblock %}


